@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

:root {
}

@theme {
  --font-display: 'Volkhov', serif;
  --font-body: 'Poppins', sans-serif;

  --color-primary-orange: #fa7436;
  --color-primary-black: #222222;

  --color-dark-gray: #444444;
  --color-light-gray: #666666;

  --color-secondary-blue: #4086f4;
  --color-secondary-yellow: #ffb60a;

  --color-background-orange: #fa7436;
  --color-background-white: #fefcfb;
  --color-background-ash: #f7f8fc;

  --text-h1: 64px;
  --text-h2: 48px;
  --text-h3: 24px;
  --text-title: 24px;
  --text-p1: 20px;
  --text-p2: 18px;
  --text-content: 16px;
  --text-nav: 16px;

  --spacing: 8px;
  --drop-shadow-feature: 0px 14px 24px rgba(102, 102, 102, 0.1);
}

/* Animasi tombol */
.button-animate {
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease;
}

.button-animate:active {
  transform: scale(0.95); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.text-animate {
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease;
}

.text-animate:active {
  transform: scale(0.95); 
}